
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

*{
    margin:0;
    padding:0;  /*damit wir keinen Rand haben zwichen der box*/
    box-sizing:border-box;

}

body{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat:no-repeat; 
    /*damit es nicht wiederholt wird untendrunter*/
    background-size:cover; 
    /*damit es nicht zur seite*/
    background-color: var(--pale-blue);
    /*background*/
    font-family: "Red Hat Display", sans-serif;
}
/*
.aquaElement{
    background-color:aqua;
}*/


.card{
    width: 450px;
    background-color: white;
    color: var(--desaturated-blue);
    border-radius: 20px; /*damit die ecken abgerundet sind*/
    overflow: hidden;
    /*damit die karte in der Mitte ist*/
    margin: 50px auto; /*1.top&botttom 2.left,right*/
}

.title{
    color: var(--dark-blue);
    font-weight:900;
    font-size:32px;
}

.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.container>*{   /*all children inside this container*/
    margin: 13px 0;  /*1.top&bottom 2.left&right*/
}

.order-description{
    line-height:25px;
}

.plan-container{
    font-size:16px;
    background-color: var(--very-pale-blue);
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.plan-container a{ /*Change symbol*/
    color: var(--bright-blue);
    font-size:13px;
    font-weight: 700;
}

.plan-container a:hover{
    opacity:0.8;
    text-decoration:none;  /*damit die line weggeht*/
}

.plan-description{
    line-height: 20px;
    margin-right: 75px;

}

.plan-container strong{ /*da es in strong ist*/
    color: var(--dark-blue);
}

button{  /*bezieht sich dann auf alle buttons*/
    width: 100%;
    border: none;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 12px;
    cursor: pointer; /*verändert das maus symbol*/
}

.proceed-button{
    background-color: var(--bright-blue);
    padding: 1rem 0;
    color: white;
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
}

.proceed-button:hover{  /*wenn man über button geht ändert sich die farbe*/
    opacity:0.8;
}

.cancel-button{
    background-color: white;
    color: var(--desaturated-blue);
    border: none;
    margin-top: 22px;
}

.cancel-button:hover{
    color:black;
}